<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.TodoMapper">

<sql id="criteria">
<where>
		<foreach item="type" collection="typeArr" separator="OR">
			<choose>
				<when test="type == 'T'.toString()">
					title LIKE '%' || #{keyword} || '%'
				</when>
				
				<when test="type == 'W'.toString()">
					writer LIKE '%' || #{keyword} || '%'
				</when>
			</choose>
		</foreach>
	</where>
</sql>

<select id="getList" resultType="org.zerock.domain.TodoVO">
<![CDATA[
SELECT * FROM tbl_todo where num > 0
]]>
</select>

<select id="getListWithPaging" resultType="org.zerock.domain.TodoVO">
<![CDATA[
	SELECT  
		num, title, writer, duedate
	
	FROM
	(SELECT 
		 ROW_NUMBER() OVER (ORDER BY num DESC) rn,
		 num, title, writer, duedate
		 
	FROM
		 tbl_todo
]]>
		<include refid="criteria"></include>
	
	
	

<![CDATA[	
		 )
	WHERE rn between ((#{pageNum}-1) * #{amount}) + 1 and #{pageNum} * #{amount}
]]>
</select>


<insert id="insert">
INSERT INTO tbl_todo (num, title, writer)
VALUES (seq_todo.nextval, #{title}, #{writer})
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="num" order="BEFORE" resultType="long">
		SELECT seq_todo.nextval from dual
	</selectKey>
	INSERT INTO tbl_todo (num, title, writer)
	VALUES (#{num}, #{title}, #{writer})
</insert>

<select id="read" resultType="org.zerock.domain.TodoVO">
	SELECT * FROM tbl_todo WHERE num = #{num}
</select>

<delete id="delete">
	DELETE FROM tbl_todo WHERE num = #{num}
</delete>

<update id="update">
	UPDATE tbl_todo
	SET title = #{title},
	writer = #{writer}
	WHERE num = #{num}

</update>

<select id="getTotalCount" resultType="int">
SELECT count(*) FROM tbl_todo
	<include refid="criteria"></include>
</select>

</mapper>
